/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* tailwind initialisation */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  max-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(/bg-2.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

@layer components {
  .btn {
    @apply bg-black border-2 border-black text-slate-300 px-4 py-2 font-bold rounded-md text-xl transition duration-200 flex items-center gap-3;
  }

  .btn:hover {
    @apply bg-transparent text-black;
  }

  .page {
    @apply h-screen flex justify-center items-center flex-col;
  }

  .option {
    @apply bg-white w-96 flex justify-center items-center p-5 my-4 rounded-tl-option rounded-br-option text-2xl font-teko font-extrabold relative cursor-pointer hover:bg-custom-blue transition duration-300 hover:text-white focus:bg-custom-blue focus:text-white;
  }
}

.fade-in {
  opacity: 0;
  filter: blur(15px);
  transform: translateX(100%);
  transition: all 1s;
}

.fade-in.show-animation {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
